/* CSS 작성 */

/* header영역 start */
.header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 48px;
}

.header-box {
  width: 1020px;
}

.header-logo {
  width: 176px;
  height: 40px;
}
/* header영역 end */


/* section영역 start */
.today {
  margin-bottom: 230px;
}

.today-title-outer {
  display: flex;
  justify-content: center;
}

.today-title-inner {
  display: flex;
  width: 1020px;
  margin-bottom: 24px;
  margin-top: 1px;
}

.today-title-1 {
  font-size: 24px;
  font-weight: normal;
  display: flex;
  align-items: center;
  color: var(--text-color-black);
}

.today-title-2 {
  font-size: 20px;
  font-weight: normal;
  display: flex;
  align-items: center;
  color: var(--text-color-gray-600);
  margin: 0 10px;
}

.today-title-3 {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
  color: var(--text-color-gray-600)
}



.today-section {
  text-align:center;
}

.today-part1,
.today-part2,
.today-part3 {
  display:inline-block;
}

.today-big-image {
  width: 446px;
  height: 270px;
  margin: 20px 28px;
}

.today-small-image {
  width: 200px;
  height: 282px;
  margin: 14px 22px 14px 21px;
}

.today-part1-list,
.today-part3-list {
  margin: 0;
  padding: 0;
  width: 1020px;
  height: 310px;
}

.today-part2-list {
  margin: 16px 0;
  padding: 0;
  width: 1020px;
  height: 310px;
}

li {
  float: left;
}



.cover-big {
  margin: 0;
  padding: 0;
  border: 1px solid var(--text-color-gray-500);
  width: 502px;
  height: 310px;
  position: relative;
}

.cover-big-marginleft {
  margin: 0 0 0 16px;
  padding: 0;
  border: 1px solid var(--text-color-gray-500);
  width: 502px;
  height: 310px;
  position: relative;
}

.cover-small {
  margin: 0;
  padding: 0;
  border: 1px solid var(--text-color-gray-500);
  width: 243px;
  height: 310px;
  position: relative;
}

.cover-small-marginleft {
  margin: 0 0 0 16px;
  padding: 0;
  border: 1px solid var(--text-color-gray-500);
  width: 243px;
  height: 310px;
  position: relative;
}



.cover-big::after,
.cover-big-marginleft::after,
.cover-small::after,
.cover-small-marginleft::after {
  content: " ";
  background-image: url("../../assets/icon/angle-right-square.svg");
  background-size: 42px 41px;
  /* 제공받은 figma에서는 icon크기가 42 42 였으나, 제공받은 svg 높이가 41px로 설정되어 있어서 확인해보니, 41일때 중앙정렬이 제대로 되는거 같아 41로 적용해놓았습니다. 참고바랍니다. */
  background-color: var(--background-color-opacity);
  display: block;
  width: 42px;
  height: 41px;
  position: absolute;
  bottom: 20px;
  left: 20px;

  transition-property: all;
  transition-duration: 2s;
}

.cover-big:hover::after,
.cover-big-marginleft:hover::after,
.cover-small:hover::after,
.cover-small-marginleft:hover::after,
.cover-big:focus::after,
.cover-big-marginleft:focus::after,
.cover-small:focus::after,
.cover-small-marginleft:focus::after {
  content: "구매하기";
  background-repeat: no-repeat;
  background-position: right;
  background-size: 42px 41px;
  background-color: var(--text-color-blue-600);
  font-size: 14px;
  text-align: left;
  text-indent: 20px;
  line-height: 42px;
  color: var(--text-color-white);
  display: inline-block;
  width: 112px;
  height: 42px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.cover-big:hover,
.cover-big-marginleft:hover,
.cover-small:hover,
.cover-small-marginleft:hover,
.cover-big:focus,
.cover-big-marginleft:focus,
.cover-small:focus,
.cover-small-marginleft:focus {
  border: 1px solid var(--text-color-blue-600);
}
/* section영역 end */